

@using DoctorsOffice.Models;
@using System;
@using System.Collections.Generic;

<h1>Doctors Office</h1>
<h2>Doctors:</h2>

@if(Model.Count < 1)
{
    <p>There are no doctors to display!</p>
}
else
{
    <p>Click on doctor's name to see and manage their patients</p>
    <ul>

    @foreach (var doctor in Model)
    {
      <li><a href="/doctors/@doctor.GetId()">@doctor.GetName()</a></li>
    }
  </ul>
}

<h4><a href="/doctors/new">Add a new doctor</a></h4>
<h4><a href="/">Return home</a></h4>