<h1>Doctors Office</h1>
<hr />
<h2>Doctors:</h2>

@if (Model.Count != 0)
{
  
    @foreach (var doctor in Model)
    {
      <a href="/doctors/@doctor.GetId()">@doctor.GetName()</a><br>
    }
  
}

<!-- <h4><a href="/doctors/new">Add a new doctor</a></h4> -->
<h4><a href="/">Return home</a></h4>