<h1>Add a doctor</h1>

<form action="/doctors/create" method="post">
  <label for="doctorName">Doctor name</label>
  <input id="doctorName" name="doctorName" type="text">


  <select id='specialityId' name='specialityId' type='text'>
    @foreach (var speciality in @Model)
        {
          <option value='@speciality.GetId()'>@speciality.GetName()</option>
        }
  </select>


  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/doctors">Back to doctors</a></p>


