@using DoctorsOffice.Models;
<html>

<head>
</head>
<body>


<form action="/patients" method="post">
 <label for="name">Patient name:</label>
 <input required id="name" name="name" type="text" /><br>
 <label for='birthdate'>Birthdate</label>
<input id='birthdate' name='birthdate' type="date" /><br>

 <button type="submit" >Save</button>
</form> 

<p><a href="/">Back home</a></p>
<p><a href="/patients">View all patients</a></p>


</body>
</html>