<h1>Doctors Office</h1>
<hr />
<h3><a href='/doctors'>View all doctors</a></h3><br>
<h3><a href='/doctors/new'>Add a new doctor</a></h3><br>
<h3><a href='/patients'>View all patients</a></h3><br>
<h3><a href='/patients/new'>Add a new patient</a></h3><br>
